<!--<div *ngFor="let order of auth.Orders">
  <p>Name: {{order.fullname}} - Date: {{order.date}} - Amount: {{order.amount}} - Type:{{order.donationtype}}</p>
</div>
-->
<div class="text-center container-fluid">
    <div class="w-50 text-center mx-auto ml-5 mt-5 mb-4">
        <h5>Order Summary</h5>
    </div>
    <div class="w-50 mx-auto ml-5 mb-5">
    <table class="table text-left">
      <thead class="thead-dark">
        <tr>
          <!--<th scope="col">ID</th> -->
          <th scope="col">Item description</th>
          <th scope="col">Price</th>
          <th scope="col">Monthly</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let order of auth.Orders; let i=index">
          <td *ngIf="order.amount!=0">{{order.donationtype}}</td>
          <td *ngIf="order.amount!=0">{{order.amount}}</td>
          <td *ngIf="order.amount!=0">{{order.monthly}}</td>
          <td *ngIf="order.amount!=0"><button class="btn btn-outline-danger btn-block" (click)="removeItem(i)">Delete</button></td>
        </tr>
        <tr>
            <td><b>Total</b></td>
            <td><b>{{total}}</b></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><button class="btn btn-danger btn-block" (click)="emptyCard()">Empty Card</button></td>
            <td><button class="btn btn-success btn-block" (click)="checkOut()">Process to check out</button></td>
        </tr>
      </tbody>
      
    </table>
  </div>
</div>